.inter-skills-child {
    background-color: #00000000;
    color: rgb(255, 255, 255);
    height: fit-content;
    width: 100%;
    border-radius: 25px;
}

.inter-skills-parent {
    display: flex;
    justify-content: space-around;
    margin: 10% 5% 5% 10%;
}

.inter-skills-heading {
    font-weight: 350;
    margin-left: 1%;
}

.sk {
    list-style: none;
    padding: 2px;
    font-size: large;
    font-weight: 350;
    line-height: 45px;
}

.sk-drop {
    list-style: none;
    padding: 2px;
    font-size: large;
    font-weight: 350;
    line-height: 45px;
}

.sub:hover {
    color: #00ff99;
    cursor: pointer;
}

.sk svg {
    margin-right: 15px; 
}
.sk-drop .bug {
    margin-right: 15px; 
}
.sk svg:hover{
    color: #00ff99;
    cursor: pointer;
}
.sk-drop svg:hover{
    cursor: pointer;
    animation: spin 5s ease-in-out infinite;
}
.sk-drop svg{
    margin-right: 0;
}
.sk-sub {
    font-size: 18px;
    margin-left: 10%;
}

.bug-span svg{
    margin-right: 0px;
    transition: ease 0.3s;
}
.bug:hover {
    animation: spin 3s ease infinite ;
    color: #00ff99;
    cursor: pointer;
}

.see-more{
    color:#00ff99;
}
@keyframes spin {
    0%{ transform: rotate(0); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(360deg); }
    75% { transform: rotate(540deg); }
    100% { transform: rotate(720deg); }
}
