.item-child{
    margin: 0 auto;
    list-style: none;
    margin: 2%;
    padding: 5%;
    line-height:5px;
}

@media (max-width:768px) {
    .item-child{
        margin: auto;
    }
}
@media (max-width:1238px) {
    .item-child{
        margin: auto;
    }
}